{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>travle_form</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"> 
  <!-- <link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}"> -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <style>

    body{
      background-image:url('{% static "images/form6.jpg" %}');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      height: 100vh;

       
        
    }
    h1{
      font-size: 30px;
      
    }

    small{
      font-size: 17px;
     
    }
     
     .navbar a{
         color: #fff;
     }

    
    .form-control{
        background: transparent;
    
        border-radius: 0px;
        border: 0px;
        border-bottom: 1px solid white;
        margin-bottom: 10px;
    }
 
    .label{
      font-size: 17px;
      font-weight: bold;
    }
     button{
      color: white; 
     }
    
 </style>
 
</head>
<body>
    
    <!-- ******navigation start****** -->
    
        <nav class="navbar">
            <a class="navbar-brand" href="#">TRAVELERA</a>
        </nav>

    <!-- ******navigation end****** -->

    <!-- *******form start********* -->

  


    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">
              <h1 class="text-left">Book Here</h1>
              <small>fill the below form</small>
            </div>
            <!-- <div class="col-md-6">
              <i class="	fa fa-send" aria-hidden="true"></i>
            </div> -->
          </div>

          <hr>

          <form method="POST" action="traveler_details">
            <div class="form">
              
              {% for message in messages %}
              <div class="alert alert-danger" role="alert">
              {{message}}
              
          </div>
              {% endfor %}
            {% csrf_token %}
            <!-- <input type="date" class="form-control" id="date" name="date"  > -->

            <label for="" class="label control-label">Place</label>
            <select id="place" name="place" class="form-control">
              <option selected>Choose the place...</option>
              <option value="tadoba">Tadoba</option>
              <option value="kabini">Kabini</option>
              <option value="bharatpur">Bharatpur</option>
            </select>
            
            <div class="row">
              <div class="col-md-6">
                <label for="" class="label control-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="name">
                 
              </div>
              <div class="col-md-6">
                <label for="" class="label control-label">Phone </label>
                <input type="text" class="form-control" id="phone" name="phone" placeholder="phone no.">
                 
              </div>
            </div>
           
            <div class="row">
              <div class="col-md-6">
                <label for="" class="label control-label">Email</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="email">
                 
              </div>
              <div class="col-md-6">
                <label for="" class="label control-label">Address </label>
                <input type="text" class="form-control" id="address" name="address" placeholder="address">
                 
              </div>
            </div>
           
            <div class="row">
              <div class="col-md-6">
                <label for="" class="label control-label">Booking Date</label>
                <input type="date" class="form-control" id="from_date" name="from_date" >
                 
              </div>
              <!-- <div class="col-md-6">
                <label for="" class="label control-label">to</label>
                <input type="date" class="form-control" id="to_date" name="to_date" >
                 
              </div> -->
            </div>
           

            <div class="row">
              <div class="col-md-4">
                <label for="" class="label control-label">No. of people</label>
                <input type="number" class="form-control" id="no_people" name="no_people" placeholder="eg.03">
                 
              </div>
              <div class="col-md-3">
                <label for="" class="label control-label">Adult </label>
                <input type="number" class="form-control" id="adult" name="adult" placeholder="eg.02">
                 
              </div>
              <div class="col-md-3">
                <label for="" class="label control-label">Children</label>
                <input type="number" class="form-control" id="children" name="children" placeholder="eg.01">
                 
              </div>

              
            </div>
            <input type="submit"  class="btn btn-success" >

          </form>
        </div>
      </div>
    </div>
   
    <!--******* form end ********-->


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> 
  <!-- <script src="{% static 'dist/js/bootstrap.min.js' %}"></script> -->
  

</body>
</html>
